<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuevana">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
        <meta-data
            android:name="plugin_class"
            android:value="com.cuevana.CuevanaProvider" />
    </application>
</manifest>